<h1>Listing logs</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Location</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <% lo = log.location.split("|") %>
        <td><%= log.id %></td>
        <td><%= lo[1] %></td>
        <th>Location</th>
        <td><a href="https://www.google.com/maps/place//@<%= lo[0] %>,19z/data=!4m2!3m1!1s0x0:0x0">link></td>

        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
